.expContainer{
    display: grid;
    background-color: #1f2937;
    padding: 1rem;
    align-items: center ;
}

.expHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    color: #e5e7eb;
}

.expTitle{
    letter-spacing: 1px;
}

.hireDiv{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.hireBtn{
        padding: 10px;
        background-color: #b91c1c;
        border-radius: 8px;
        border-style: none;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 500;
        height: 40px;
        line-height: 20px;
        list-style: none;
        margin: 0;
        outline: none;
        padding: 10px 16px;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: color 100ms;
        vertical-align: baseline;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
      
}

.hireBtn:hover,
.hireBtn:focus {
  background-color: #facc15;
}
